/* Globals */

:root {
  --font-sans: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --font-serif: Georgia, serif;
  --color-primary: #cac5c0;
  --color-secondary: #b4afab;
  --color-background: #ede9e6;
  --color-link: #635ac7;

  font-family: var(--font-sans);
  font-weight: normal;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

body {
  background: #f9f8f7;
  margin: 0;
  font-size: 16px;
}

a {
  color: var(--color-link);
}

h1 {
  font-size: 2rem;
  text-transform: uppercase;
}

/* Snippets */
.site-header {
  padding-bottom: 2rem;
  padding-top: 2rem;
  text-align: center;
}

.site-header__quote {
  color: var(--color);
  font-family: var(--font-serif);
  margin-left: auto;
  margin-right: auto;
  max-width: 460px;
}

.site-footer {
  background: var(--color-primary);
  color: var(--color);
  font-family: var(--font-serif);
  padding: 15px 0;
  text-align: center;
}

/* Primary List */

.container {
  margin: 0 auto;
  max-width: 1280px;
}

.grid {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(max-content, 320px));
  justify-content: center;
  list-style: none;
  margin: 15px 0;
  padding: 0;
}

/* Small grid CSS */
.grid.small {
  grid-template-columns: repeat(auto-fit, minmax(max-content, 180px));
}

.grid.small .grid-image {
  max-height: 150px;
  max-width: 150px;
  width: 100%;
}
/* */

.grid-item {
  background: var(--color-background);
  overflow: hidden;
  padding: 15px;
  text-align: center;
}

.grid-item:hover .grid-image {
  opacity: 0.75;
}

.grid-image {
  backface-visibility: hidden;
  max-height: 200px;
  max-width: 450px;
  transition: opacity 200ms;
}

.grid-selector {
  color: var(--color-primary);
  text-align: center;
}

.grid-selector a {
  color: var(--color-primary);
  transition: 200ms;
}

.grid-selector a.active {
  color: var(--color-secondary);
}

.grid-selector a:hover,
.grid-selector a:active {
  color: var(--color-secondary);
}

.grid-load {
  display: flex;
  justify-content: center;
  margin: 15px;
}

.grid-load__button {
  background: var(--color-background);
  border: 0;
  padding: 10px 20px;
}

.grid-load__button:hover {
  background: var(--color-primary);
}

.grid-load__button:active {
  background: var(--color-secondary);
}

.grid-load__button:active,
.grid-load__button:focus {
  outline: none;
}

.site-overlay {
  align-items: center;
  background: rgba(0, 0, 0, 0.67);
  display: none;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

.site-overlay.active {
  display: flex;
}

.site-overlay__button {
  align-self: center;
  background: var(--color-background);
  border: 1px solid var(--color-secondary);
  border-radius: 3px;
  font-weight: bold;
  margin: 10px auto;
  padding: 10px 25px;
  text-transform: uppercase;
  transition: 200ms;
}

.site-overlay__button:hover {
  background: var(--color-secondary);
}

.site-overlay__button:active {
  background: var(--color-secondary);
}

.site-overlay__button:active,
.site-overlay__button:focus {
  outline: none;
}

.site-overlay__close {
  color: #000;
  cursor: pointer;
  font-size: 1.25rem;
  opacity: 0.67;
  padding: 7px 10px;
  position: absolute;
  right: 0px;
  top: 0px;
  transition: 300ms;
}

.site-overlay__close:hover {
  opacity: 1;
}

.site-overlay__container {
  align-items: center;
  background: var(--color-background);
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
  border-top: 5px solid var(--color-primary);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 450px;
}

.site-overlay__image {
  border-bottom: 1px solid #000;
  max-height: 450px;
  max-width: 100%;
}

.site-overlay__info {
  display: flex;
  font-size: 0.9rem;
  justify-content: space-between;
  min-height: 32px;
  padding: 5px 10px;
  width: 100%;
}

.site-overlay__info-header {
  font-size: 1rem;
  font-weight: bold;
  text-transform: bold;
}

.site-overlay__info:nth-child(3) {
  padding: 5px 10px 0;
}

.site-overlay__info:nth-child(4) {
  padding-bottom: 10px;
}

.site-overlay__info:last-child {
  justify-content: center;
}

@media (max-width: 599px) {
  .site-overlay__container {
    max-width: 300px;
  }
}
